* {
	float: none;
	position: static;
}
 
img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

body{
	background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
	font-family: "游ゴシック体",YuGothic,"游ゴシック","Yu Gothic","Meiryo UI","Meiryo","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ ゴシック","MS Gothic",sans-serif;
    text-size-adjust: 100%;
	
	padding: 0;
	margin: 0;
	box-sizing : border-box;
	width: 100%;
    max-width: 100%;

}

/* ---------------↓header------------------ */
header{
	position: fixed;

    display: flex;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 1000;
    background: white;
    width: 100%;
	 
}

.title img{
	position: absolute;
	width: 14%;
	height: 99%;
	
}
.menu{
	position: fixed;
	right: 3px;
	padding: 0;
	top:-70px
	
	
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	padding-top: 1em;
	

	
	
}


.menu li {
	float: left;
	border-right: 1px solid #5f5d5d;
	
	
	
}
.menu li:last-child {
	border-right: none;
}
.menu li a {
	display: block;
	color: rgb(17, 17, 17);
	text-align: center;
	padding: 18px 14px 0px 16px;
	text-decoration: none;
	font-size: 20px;
	
	
}
.menu li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}



/* ---------------↑header------------------ */

/* ---------------↓main-------------------- */
main{
	
	height:2000px;
}

.main-picture{
	text-align: center;
	/* border: 2px solid black; */
	
	width: 100%;
	border: 1px solid black;
	
}

.main-picture img{
	height: 75%;
	width: 70%;
	
}


.news{
	
	position: relative;
	top: -120px;
}


.news h2{
	font-size: 30px;
	text-align: center;
	margin-top: 100px;
	position: relative;
	top:10px;
}

.news ul{
	
	position: relative;
	left: 15%;
	
}

.news li{
	border-bottom:1px dotted #000;
	list-style:none;
	padding:10px;
	width:60%;
  }
.news a{
	color:#000;
	text-decoration:none;}

.news span{
	background-color:#2388b8;
	border-radius:3px;
	color:#fff;
	display:inline-block;
	margin-right:20px;
	padding:5px;
  }
.news time{
	display: inline-block;
	font-weight: bold;
	margin-right:40px;
  }
.news p{
	color:#1c448d;
	display: inline-block;
	text-decoration:underline;
  }
  .new::after{
	content:"NEW";
	color: #d10606;
	font-size: 1.1rem;
	border: 1px solid #d10606;
	padding: 4px 8px;
	margin: 0 0 0 20px;
	display: inline-block;
	line-height: 1;
  }


.contents-produce{
	
	position: relative;
	top:-50px;
	
	
}
  

.list1{
	
	display: inline;
	
}
.list1 li{
	
	
	list-style: none;
	padding: 2%;
}



	


.pic1{
	
	background-color: rgb(255, 255, 255);
	background-image: url(pic/企業情報.jpg);
	background-size: cover;
	height: 40%;
	margin-top: 1%;
}

.pic1 a{
	text-decoration: none;
	color: #0a0a0a;
}
.tile1{
	margin-top: 10%;
	background-color: #ffffff;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
	border-radius: 1em;
	width: 150%;
	height: 100%;
	opacity: 88%;
	padding: 2px;
	transition:all 1s ease-out;
	position: relative;
	background-image: -webkit-linear-gradient(left, transparent 50%, rgba(153, 139, 250, 1) 50%);	
    background-image: linear-gradient(to right, transparent 50%, rgba(153, 139, 250, 1) 50%);
    -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
	background-size: 200% 100%;
}



.tile1:hover{
	opacity: 100%;
	background-color: #8a61eb;
	background-position: -100% 100%;
}



.tile1 h2{
	font-size: 40px;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
	line-height: 0.9em;
}
.tile1 h3{
	font-size: 40px;
	background: linear-gradient(transparent 50%, #a8eaff 50%);
	position: relative;
	top: -30px;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
}

.tile1 p{
	margin: 2%;
	font-size: 20px;
}

.sukima1{
	height: 350px;
	width: 300px;
	margin-left: 2%;
}


.pic4{
	
	background-color: rgb(255, 255, 255);
	background-image: url(pic/サービス\ \(2\).jpg);
	background-size: cover;
	height: 40%;
	margin-top: 1%;
}

.pic4 a{
	text-decoration: none;
	color: #0a0a0a;
}




.pic2{
	
	
	background-color: rgb(255, 255, 255);
	background-image: url(pic/実績.jpg);
	/* background-size: cover; */
	height: 40%;
	margin-top: 1%;
	
}

.pic2 a{
	text-decoration: none;
	color: #0a0a0a;
}
.tile2{
	margin-top: 10%;
	background-color: #ffffff;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
	border-radius: 1em;
	width: 150%; 
	height: 100%;
	opacity: 95%;
	padding: 2px;
	transition:all 1s ease-out;
	position: relative;
	background-image: -webkit-linear-gradient(left, transparent 50%, rgba(153, 139, 250, 1) 50%);	
    background-image: linear-gradient(to right, transparent 50%, rgba(153, 139, 250, 1) 50%);
    -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
	background-size: 200% 100%;

	text-align: right;
	
	
	
	


	
}



.tile2:hover{
	opacity: 100%;
	background-color: #8a61eb;
	background-position: 100%;
}



.tile2 h2{
	font-size: 40px;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
	line-height: 0.9em;
}
.tile2 h3{
	font-size: 40px;
	background: linear-gradient(transparent 50%, #a8eaff 50%);
	position: relative;
	top: -30px;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
}

.tile2 p{
	margin: 2%;
	font-size: 20px;
}

.sukima2{
	
	height: 350px;
	width: 300px;
	position: relative;
	margin: 0 0 0 auto;
	margin-right: 15%;

	
	
}


.pic3{
	
	
	background-size: cover;
	height: 30%;
	margin-top: 1%;

	float: left;
	margin: 2em;

}

.pic3 a{
	text-decoration: none;
	color: #0a0a0a;
}
.tile3{
	margin-top: 10%;
	background-color: #ffffff;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
	border-radius: 1em;
	width: 100%;
	height: 80%;
	opacity: 90%;
	padding: 2px;
	transition:all 5s ease-out;
	position: relative;
	background-image: -webkit-linear-gradient(left, transparent 50%, rgb(248, 248, 248) 50%);	
    background-image: linear-gradient(to right, transparent 50%, rgb(255, 255, 255) 50%);
    -webkit-transition: background-position .6s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
	background-size: 200% 100%;

	display: flex;
	padding: 5%;

	


	
}



.tile3:hover{
	opacity: 100%;
	background-image: url(pic/株主.jpg);
	background-position: 90%;
	background-size: cover;
}



.tile3 h2{
	font-size: 30px;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
	line-height: 0.9em;
}
.tile3 h3{
	font-size: 20px;
	background: linear-gradient(transparent 20%, #a8eaff 50%);
	position: relative;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
}

.tile3 p{
	margin: 2%;
	font-size: 20px;
}

.sukima3{
	
	height: 350px;
	width: 300px;
	position: relative;
	
	padding-right: 10%;
	
}

.tile5{
	margin-top: 10%;
	background-color: #ffffff;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
	border-radius: 1em;
	width: 100%;
	height: 80%;
	opacity: 90%;
	padding: 2px;
	transition:all 5s ease-out;
	position: relative;
	background-image: -webkit-linear-gradient(left, transparent 50%, rgb(248, 248, 248) 50%);	
    background-image: linear-gradient(to right, transparent 50%, rgb(255, 255, 255) 50%);
    -webkit-transition: background-position .6s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
	background-size: 200% 100%;

	display: flex;
	padding: 5%;

	


	
}



.tile5:hover{
	opacity: 100%;
	background-image: url(pic/採用情報.jpg);
	background-position:  90%;
	background-size: cover;
}



.tile5 h2{
	font-size: 30px;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
	line-height: 0.9em;
}
.tile5 h3{
	font-size: 20px;
	background: linear-gradient(transparent 20%, #a8eaff 50%);
	position: relative;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
}

.tile5 p{
	margin: 2%;
	font-size: 20px;
}

.tile6{
	margin-top: 10%;
	background-color: #ffffff;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
	border-radius: 1em;
	width: 100%;
	height: 80%;
	opacity: 90%;
	padding: 2px;
	transition:all 5s ease-out;
	position: relative;
	background-image: -webkit-linear-gradient(left, transparent 50%, rgb(248, 248, 248) 50%);	
    background-image: linear-gradient(to right, transparent 50%, rgb(255, 255, 255) 50%);
    -webkit-transition: background-position .6s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
	background-size: 200% 100%;

	display: flex;
	padding: 5%;

	
	
	

	


	
}



.tile6:hover{
	opacity: 100%;
	background-image: url(pic/問い合わせ.jpg);
	background-position: 90% ;
	background-size: cover;
	
}



.tile6 h2{
	font-size: 30px;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
	line-height: 0.9em;
}
.tile6 h3{
	font-size: 20px;
	background: linear-gradient(transparent 20%, #a8eaff 50%);
	position: relative;
	color: #121313e0;
	text-shadow: 0 3px 4px rgba(255, 253, 253, 0.87);
}

.tile6 p{
	margin: 2%;
	font-size: 20px;
}
	
	
	







/* footer{ 
position: relative;
bottom: 0;
margin-left: 10px;


 
  
 
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}

footer h3{
	font-size: 35px;
	border-bottom:2px solid rgba(147, 204, 250, 0.884);
	margin-left: 7px;
	width: 20%;
	color: rgb(64, 127, 187);
	
	
	
}

footer p{
	margin-left: 8px;
	color: rgb(49, 126, 177);
	
}

footer a{
	color: rgb(66, 206, 224);
	text-decoration: dotted;
	
}
*/

.content img{
	width: 140%;
	height: 100%;
}

.slideshow li{
list-style: none;
}
.content {
	width: 700px;
	height: 550px;
  }
  .content:nth-child(1) {
	background-color: tomato;
  }
  .content:nth-child(2) {
	background-color: orange;
  }
  .content:nth-child(3) {
	background-color: blue;
  }
  .content:nth-child(4) {
	background-color: green;
  }
  /* スライドレールの枠 */
  .wrap {
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 640px;
	
  }
  
  /* content4つをまとめたスライドブロック */
  .slideshow {
	display: flex;
	-webkit-animation: loop-slide 20s infinite linear 1s both;
	animation: loop-slide 60s infinite linear 1s both;
  }
  @-webkit-keyframes loop-slide {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-100%);
	}
  }
  @keyframes loop-slide {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-100%);
	}
  }
 


/* --------------------940以下---------------------------------------- */
@media screen and (max-width:940px) {
	.tile1{
		width: auto;
		height: auto;
	}
	.tile4{
		width: auto;
		height: auto;
	}
	.tile3{
		width: auto;
		height: auto;
	}
 .tile2{
	 width: auto;
	 height: auto;
 }
 .tile5{
	width: auto;
	height: auto;
}
.tile6{
	width: auto;
	height: auto;
}

.menu {
	margin: 0;
	padding: 0;  
	top: 10px;
	width: 50%;
	}
	.menu li {
	list-style: none;
	font-weight:bold;
	width: 300px;
	top:0px;
	
	}
	.menu li a {
	display: table;
	margin-top: 1px;
	padding: 16px 10px;
	width: 100%;
	background: #45c8f0;
	text-decoration: none;
	text-align: left;
	color:#fff;
	overflow: hidden;
	}
	.menu li ul {
	margin: 0;
	padding: 0;
	}
	.menu li li a {
	display: block;
	margin-top: 0;
	padding: 0 10px;
	height: 0;
	background: #909090;
	color: #fff;
	}
	.menu > li:hover li a {
	display: table;
	margin-top: 1px;
	padding: 16px 10px;
	width: 100%;
	}
	.menu * {
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
	} 
	
	
	.title img{
		position: absolute;
		width: 20%;
		height: 99%;}

	.tile6{
		margin-top: -300px;
		padding: 1%;
	}	
	.tile3{
		margin-top: -10px;
		padding: 1%;
	}	
	.tile5{
		margin-top: -250px;
		padding: 1%;
	}	
	/*　画面サイズが940px以下の場合ここの記述が適用される　*/
 
}
